<div class="home__container">
    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Exclusive"
    cardTitle="Buy it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS3"
    gamePrice="119,99"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Cross By"
    cardTitle="Play it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS4 | PS5"
    gamePrice="149,99"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Exclusive"
    cardTitle="Buy it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS5"
    gamePrice="229,99"
    >
    </app-card>

    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Exclusive"
    cardTitle="Buy it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS3"
    gamePrice="89,99"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Cross By"
    cardTitle="Play it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS4 | PS5"
    gamePrice="329,99"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Cross By"
    cardTitle="Play it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS3| PS4| PS5"
    gamePrice="139,99"
    >
    </app-card>
    <app-card
    gameCover="https://www.mobygames.com/images/covers/l/364913-rise-of-the-tomb-raider-xbox-one-front-cover.png"
    gameLabel="Cross By"
    cardTitle="Play it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS3| PS4| PS5"
    gamePrice="119,99"
    >
    </app-card>
    <app-card
    gameCover="https://www.mobygames.com/images/covers/l/392057-tomb-raider-definitive-edition-xbox-one-front-cover.png"
    gameLabel="Cross By"
    cardTitle="Play it now!"
    cardTitleConsole="Full Game"
    gameConsole="PS3 | PS4"
    gamePrice="59,99"
    >
    </app-card>
    
</div>